@(title: String, current: String = "home")(content: Html)(implicit messages: Messages)



<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>@title</title>
    	<link rel='shortcut icon' type='image/png' href='@routes.Assets.versioned("images/favicon.png")'>
    	<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))'>
    	<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>
	</head>
	
<body>
<div id="wrap">
	<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
 				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
    				<span class="sr-only">Toggle navigation</span>
     				<span class="icon-bar"></span>
     				<span class="icon-bar"></span>
     				<span class="icon-bar"></span>
   				</button>
  				<a href='@routes.Application.index()' class="navbar-brand">@Messages("title")</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		  		<ul class="nav navbar-nav">
      	    		<li @if(current == "menu.members") {class = "active"}> <a href='@routes.Application.members()'>@Messages("menu.members")</a></li>
      	    		<li @if(current == "menu.drive") {class = "active"}> <a href='@routes.Application.drive()'>@Messages("menu.drive")</a></li>
      	    		<li @if(current == "menu.home") {class = "active"}> <a href='@routes.Application.index()'>@Messages("menu.home")</a></li>
		  		</ul>
     	  		<ul class="nav navbar-nav navbar-right">
     	    		<li @if(current == "menu.admin") {class = "active"}> <a href='@routes.Application.admin()'>@messages("menu.admin")</a></li>
 		  		</ul>
			</nav>
    	</div>
	</header>
	
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
	<div class="container condo-content">
		@content
	</div>
</div>
<div id="footer">
  <div class="container">
  	<p class="text-muted">2015 - @Messages("title")</p>
  </div>
</div>

</body>
</html>
